<h1>Create Organisation</h1>


    <%= form_for @organisation do |o| %>
        <%= o.label :name %><br>
        <%= o.text_field :name %><br>
        <%= o.label :hourly_rate %><br>
        <%= o.text_field :hourly_rate %><br>
        <%= o.submit "Create and Join"%><br>
        <% end %>