<h1>Shift List</h1>
<% @shifts.each do |s| %>
    <div>
    <p><li><%= s.start %></li>
    <li><%= s.finish %></li>
    <li><%= s.created_at %></li>
    <li><%= s.break_length %></li>
    </p>
    </div>
     <% end %>
<%= link_to "Create a Shift" , new_shift_path %>